Django==1.8.5
azure==1.0.2
azure-common==1.0.0
azure-mgmt==0.20.1
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.0
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==1.0.0
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.1
azure-storage==0.20.2
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
futures==3.0.3
gunicorn==19.3.0
psycopg2==2.6.1
python-dateutil==2.4.2
requests==2.8.1
six==1.10.0
static3==0.6.1
